{% extends "_base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact">
    <h1>Contact</h1>
    <ul class="contact-links">
        <li>
            <span class="platform">email</span>
            <a href="mailto:your.email@example.com">your.email@example.com</a>
        </li>
        <li>
            <span class="platform">github</span>
            <a href="https://github.com/yourusername" target="_blank">@yourusername</a>
        </li>
        <li>
            <span class="platform">linkedin</span>
            <a href="https://linkedin.com/in/yourusername" target="_blank">Philip Spencer</a>
        </li>
    </ul>
</div>
{% endblock %} 